/* Styling paragraph element inline style */

<p style='color:blue;font-size: 20px;'> Im Loki </p>

/* Styling paragraph element in internal stylesheets */

<head>
  <style>
    p{
      color: green;
    }
  </style>
</head>

/* styling paragraph element in external stylesheets */

    p{
      color: green;
    }
(note: in a seperate .css file)
