body {
  background: #141E30;
}

h1 {
  color: #FFF !important;
  font-size: 2em;
  font-family: Georgia;
  text-align: center;
}

h2 {
  font-weight: 100;
  font-size: 22px;
  text-align: left;
  font-family: Georgia;
}

p {
  color: aliceblue;
  text-align: left;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}

.byline {
  font-family: Helvetica;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.caption {
  font-family: serif;
  font-size: 14px;
  font-style: italic;
  background-color: white;
  color: black;
}


.image {
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/soccer.jpeg');
  background-size: cover;
  background-position: center;
  height: 300px;
}
